<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.category) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}
=======
{# Permet d'étendre le template de base #}
{% extends 'base.html.twig' %}

{# Permet de remplacer le block BODY du template de base #}
{% block body %}
    {# Créé le formulaire (<form>) #}
    {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.category) }}

        {# Ajoute le bouton "Valider" pour soumettre le formulaire #}
        <button type="submit">Valider</button>

    {# Génére la fin du formulaire et ferme le </form> #}
    {{ form_end(form) }}
>>>>>>> 2d2348a3201b44234af38d1d3b1e062c5329b35c
{% endblock %}